
button {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 20px !important;
	padding: 15px 0px !important;
	width: 210px;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	float: none;
	border-radius: 0 !important;
	@include transition(all 1s ease);
	background: transparent;
	margin: 0 auto 20px;
	@include breakpoint('tablet-up') { 
		margin: 0;
	}


	&.load-more {
		border: 1px solid $purple;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);	
		color: $purple;
		opacity: 0;
		display:none;

		&.hidden {
			display: inline-block;
			opacity: 1;
		}

		&::before {
			display: inline-block;
			position: absolute;
			top: 0px;
			right: 0px;
			height: 100%;
			width: 0px;
			z-index: -1;
			content: '';
			color: $white !important;
			background: $purple;
			transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
		}

		&:hover {
			color: $white !important;
			background-color: transparent;
			&::before {
				left: 0%;
				right: auto;
				width: 100%;
			}
		}
	}

	&.hide{
		border: 1px solid $navy-gray;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
		color: $navy-gray;
		display: none;
		opacity: 0;

		&.hidden {
			display: inline-block;
			opacity: 1;
		}

		// @include breakpoint('tablet-up') { 
		// 	margin-left: 30px;
		// }

		&::before {
			display: inline-block;
			position: absolute;
			top: 0px;
			right: 0px;
			height: 100%;
			width: 0px;
			z-index: -1;
			content: '';
			color: $white !important;
			background: $navy-gray;
			transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
		}

		&:hover {
			color: $white !important;
			background-color: transparent;
			&::before {
				left: 0%;
				right: auto;
				width: 100%;
			}
		}
	}
}


.box-button {
	padding:20px 0px;
	@include breakpoint('tablet-up') { 
		padding:60px 0px;
	}
}

.box-link {
	padding:20px 0px;
	@include breakpoint('tablet-up') { 
		padding:30px 0px;
	}
}

a{
	&.download {
		cursor: pointer;
		display: inline-block;
		position: relative;
		font-size: 20px !important;
		padding: 15px 0px !important;
		text-align: center;
		text-decoration: none;
		overflow: hidden;
		float: none;
		border-radius: 0 !important;
		border: 1px solid $navy-blue;
		transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);	
		color: $navy-blue;
		width: 230px;
		@include transition(all 1s ease);
		background: transparent;
		margin: 0 auto 20px;
		@include breakpoint('tablet-up') { 
			margin: 0;
		}


		&::before {
			display: inline-block;
			position: absolute;
			top: 0px;
			right: 0px;
			height: 100%;
			width: 0px;
			z-index: -1;
			content: '';
			color: $white !important;
			background: $navy-blue;
			transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
		}

		&:hover {
			color: $white !important;
			background-color: transparent;
			&::before {
				left: 0%;
				right: auto;
				width: 100%;
			}
		}
	}
}