#education-history {
  text-align: center;
	padding: 60px 0;
	overflow-x: hidden;

	@include breakpoint('tablet') { 
		padding: 100px 0;
	}
	
	.box-title {
		padding-bottom: 60px;
	}

	.card {
		transition: transform 800ms ease-in-out 150ms, opacity 800ms ease-in-out 150ms; 
	    opacity: 0;
			@include transform(translateY(150px));
			
			&.animation{
				opacity: 1;
				@include transform(translateY(0px));
			}
		.card-left {
			p {
				margin-top: 10px;
				color: $purple-ligth;
				font-size: 50px;

				span{
					font-size: 0;
				}
			}
		}
		.card-body {
			.card-title {
				font-size: 18px;
				color: $navy-blue;
				font-weight:700;
			}
			.card-text {
				color: $navy-gray;
				font-size: 16px;
				font-style: italic;
				.text-muted {
					font-size: 14px;
					font-style: normal;
				}
			}
		}
	}
}