body, html {
	font-family: 'Open Sans', sans-serif;
	margin:0; 
	height: 100%;
	width: 100%;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 400;


	#skippy {
	  position: absolute;
	  width: 1px;
	  height: 1px;
	  padding: 0;
	  top:-10px;
	  overflow: hidden;
	  clip: rect(0, 0, 0, 0);
	  white-space: nowrap;
	  border: 0;
	}

	.container-fluid {
		padding-right: 0px; 
    	padding-left: 0px; 
    	height: 100%;
	}


	.box-title {

		h2 {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 0px;
			transition: transform 800ms ease-in-out 150ms, opacity 800ms ease-in-out 150ms; 
	    opacity: 0;
			@include transform(translateX(150px));

			@include breakpoint('tablet') { 
				font-size: 50px;
			}

			&.animation{
				opacity: 1;
				@include transform(translateX(0px));
			}
		}

		.line {
			width: 50px;
			height: 3px;
			background: $purple;
			display: inline-block;
			transition: transform 800ms ease-in-out 150ms, opacity 800ms ease-in-out 150ms; 
	    	opacity: 0;
			@include transform(translateX(-150px));

	    	&.animation{
	    		opacity: 1;
			    @include transform(translateX(0px));
	    	}
		}

		p {
			font-size: 16px;
			font-weight: 400;
			margin-top: 30px;
			margin-bottom: 50px;
			transition: transform 800ms ease-in-out 150ms, opacity 800ms ease-in-out 150ms; 
	    opacity: 0;
			@include transform(translateY(50px));

			@include breakpoint('tablet') { 
				font-size: 20px;
			}

	    	&.animation{
	    		opacity: 1;
			    @include transform(translateY(0px));
	    	}
		}

		&.box-gray {
			h2 {
				color: $navy-gray;
			}

			p {
				color: $navy-blue;
			}
		}

		&.box-white {
			h2 {
				color: $white;
			}

			p {
				color: $white;
			}
		}
	}
}


.valign  {
	.center,
	.alt-line{
	    display: inline-block;
	    vertical-align: middle;
	    zoom: 1;
	    *display: inline;
    }
    .alt-line {
    	height: 100%;
    }
}

main {
	overflow-x: hidden;
}