header {
	background: url(/img/header-bg-computer.jpg) no-repeat 50%;
	background-size: cover;
	background-attachment: scroll;
	height: 100%;
	overflow: auto;

	@include breakpoint('tablet-up') { 
		background-attachment: fixed;
	}

	.bg-filter {
		height: 100%;
		overflow: auto;
		width: 100%;
		background: linear-gradient(282deg,hsla(0,0,0,.73),rgba(27,76,132,.73));
		background: -moz-linear-gradient(282deg,hsla(0,0,0,.73),rgba(27,76,132,.73));
		background: -moz-linear-gradient(282deg,hsla(0,0,0,.73),rgba(27,76,132,.73));
		z-index: 1;
		@include flexbox;
		@include flex-direction(column);
		@include flex-justify-content(center);
	}



	.navbar{
		background: $navy-gray;	
	    position: fixed;
	    width: 100%;
	    z-index: 10;
	    top: 0;

		@include breakpoint('tablet-up') {
			background: transparent;	
			padding-top: 80px;
			position: absolute;
		}

		.navbar-toggler {
			cursor: pointer;
			border: none;

			&.button-menu{
				&.collapsed {
					.hamburguer {
						.bars{
							&.bars-one,
							&.bars-two,
							&.bars-three {
								transform: none;
							}
							&.bars-one {
								top: -5px;
							}
							&.bars-two {
								top: 8px;
								opacity: 1;
							}
							&.bars-three {
								top: 20px;
							}
						}
					}
				}

				.hamburguer {
					position: relative;
			        width: 40px;
			        height: 25px;
			        right: 0px;
			        top: 0;
			        display: inline-block;
			        content: "";
			        zoom: 1;
			        transition: 0.4s;
			        transform: rotate(180deg);

					.bars{
						position: absolute;
						width: 100%;
						height: 2px;
						background: $white;
						transition: .2s;
						outline: none;
						left: 0;
						top: 0;

						&.bars-one {
							transform: rotate(45deg) translate3d(7px, 7px, 0);
						}
						&.bars-two{
							opacity: 0;
						}
						&.bars-three {
							transform: rotate(-45deg) translate3d(-7px, 7px, 0);
						}
					}
				}
			}

		}

		.navbar-collapse {

			.navbar-nav {
				width: 100%;
				height: 100%;		
				@include flex-justify-content(center);

				.nav-item {
					margin: 0px;
					position: relative;
					@include breakpoint('tablet-up') { 
						margin: 10px;
					}

					&::after{
						position: absolute;
					    content: "";
					    top: 14px;
					    left: -10px;
					    color: $white;
					    font-size: 20px;
						@include breakpoint('tablet-up') { 
							content: ".";
						}
					}

					&:first-child {
						&::after{
							content: "";
						}
					}


					.nav-link {
						font-size: 30px;
						color: $white;
						text-align: center;
						padding: 20px 0;
						font-weight: 700;
						letter-spacing: 1px;
						@include breakpoint('tablet-up') { 
							font-size: 20px;
							padding: 16px 32px;
						}
					}
				}
			}
		}
	}

	.descripition {
		text-align: center;

		.logo{
			width: 98px;
			height: 95px;
			margin-bottom: 30px;
			opacity: 0;
			@include transform(translateY(100px));
			transition: transform 800ms ease-in-out 150ms, opacity 800ms ease-in-out 150ms; 
			img {
				width: 100%;
				height: auto;
			}
		}
		
		h1 {
			font-size: 30px;
			font-weight: 600;
			color: $white;
			opacity: 0;
			@include transform(translateY(100px));
			transition: transform 900ms ease-in-out 150ms, opacity 900ms ease-in-out 150ms; 
			@include breakpoint('tablet-up') { 
				font-size: 60px;
			}
			span{
				font-weight: 700;
			}
		}
	}

	@keyframes shakeArrow {
		0%, 100% {
		transform: translateY(0px);
		}
		20% {
		transform: translateY(-5px);
		}
		40% {
		transform: translateY(0px);
		}
		60% {
		transform: translateY(5px);
		}
	}

	.arrow {
		color: $white;
		position: absolute;
		margin: 0 auto;
		animation: shakeArrow 2s infinite linear 600ms;
		bottom: 11%;
	    left: 48%;
	    @include transform(translateY(-48%));
		p{
			font-size: 0px;
		}

		span {
			font-size: 30px;
		}
	}

	&.animation {
		.descripition {
			.logo{			
			  opacity: 1;
			  @include transform(translateY(0px));
				
			}
			h1 {
			  opacity: 1;
			  @include transform(translateY(0px));
			}
		}
	}
}
