#portfolio {
	position: relative;
	overflow-x: hidden;
	.box-title {
		text-align: center;
		margin-top: 58px;
	}

	.box-customers {
		position: relative;

		.page2 {
			display: none;
			opacity: 0;

			&.hidden {
				display: block;
				opacity: 1;
			}
		}

		.customers {
			width: 100%;
			float: left;
			position: relative;
			display:block;
			box-sizing: border-box;
			cursor: pointer;
			opacity: 0;

			@include breakpoint('tablet') { 
				width: 50%;
			}
			@include breakpoint('tablet-up') { 
				width: 50%;
			}
			@include breakpoint('desktop') { 
				width: 25%;
			}

			.bg-portfolio {
				display: block;
			    background-position: 50% 50%;
			    background-size: cover;
			    height: 0;
			    width: 100%;
			    padding-top: 75%;
			    position: relative;

			   	.hover {
					display: block;
				    background: rgba(165,94,234, 0.8);
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    height: 100%;
				    width: 100%;
				    @include transition(.4s);
				    opacity: 0;
				    z-index: 1;

				    &::before,
					&::after {
					    position: absolute;
					    top: 30px;
					    right: 30px;
					    bottom: 30px;
					    left: 30px;
					    content: '';
					    opacity: 0;
					    @include transitions(opacity .35s, transform .35s);
					}
				    &::before {
					    border-top: 1px solid $white;
					    border-bottom: 1px solid $white;
						@include transform(scale(0, 1));
					}
					&::after {
					    border-right: 1px solid $white;
					    border-left: 1px solid $white;
					    @include transform(scale(1, 0));
					}
				}
		
				.valign {
					position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    z-index: 2;

				    .center {
				    	width: 100%;
					    text-align: center;
					    padding: 20px;
					    color: $white;


					    h3 {
					    	font-size: 32px;
					    	font-weight: 600;
					    	line-height: 1.2;
								padding: 5px 1em;
								text-transform: uppercase;
								@include transition(transform .35s);
									@include transform(translate3d(0, -20px, 0));
									opacity: 0;
								}

					    h4 {
					    	font-size: 26px;
						    line-height: 1.2;
						    font-weight: 700;
						    font-style: italic;
						    @include transition(transform .35s);
						    @include transform(translate3d(0, -20px, 0));
						    padding: 5px 1em;
						    opacity: 0;
					    }

					    p {
					    	font-size: 16px;
						    line-height: 1.2;
						    font-weight: 400;
						    padding: 0 1em;
						    opacity: 0;
						    @include transition(transform .35s);
						    @include transform(translate3d(0, -20px, 0));
					    }
				    }
				}
			}
				


			&:hover{
				.bg-portfolio {
					.hover {
						height: 100%;
					    opacity: 1;
					    @include transition(.3s);

						&::before,
						&::after {
						    opacity: 1;
						    @include transform(scale(1));
						}
					}

					.valign{
						.center {
							h3,
							h4,
							p  {
							    opacity: 1;
							    @include transform(translate3d(0, 0, 0));
							}
						}
					}
				}
			}
		}
	}
}