// Colors
$black: #000000;
$white: #ffffff;
$navy-gray: #4B6684;
$navy-gray-ligth: #798BA3;
$grey:#A5B0C2;
$grey-light: #D3D8DE;
$purple:#8955D1;
$purple-ligth: #A55EEA;
$navy-blue: #1B4C84;
$navy-blue-light:#4D7AED;
$blue:#2D99DA;
$blue-light:#45AAF2;

// Breakpoints
$mobile: 320px;
$mobile-up: 576px;
$tablet: 768px;
$tablet-up: 992px;
$desktop: 1024px;
$desktop-up: 1200px;

